
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}

    <div class="jumbotron jumbotronmain">
        <div class="container">
          <h1 class="display-4"></h1>
          <p class="lead"></p>
        </div>
      </div>
      
      <section id="content-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
        <h2>Secure software development philosophy</h2>
        <p>Software should be secure by default.</p>
          
        </div>
      </div>
        </div>
      </section>
      
      
      
      <section id="services">
        <div class="container-lg">
          <div class="row text-left">
            {% for blog in blogs %}
            <div class="col-md-4">
              <a href="{% url 'blog_detail' blog.slug  %}"><img src="{{ blog.image_url }}" alt="" class="img-fluid service-img"></a>
              <br/><br/>
           <h4>{{ blog.title }}</h4>
              <p>{{ blog.content }}</p>
              <br/>

              <p>Published: {{ blog.created_on }}</p>
            </div>
      
             {% endfor %}
      
             
      
      
             
          </div>
        </div>
      </section>
      
      
      
      
      
      
      
      <div class="content">
        <section>
          <div class="container">
            <hr id="">
            <h2>What Repo can do for you?</h2>
            <hr id="">
      
      
            <p>Our company employs industry-leading experts on <a href="#">web application security</a> and <a href="#">applied cryptography</a>. We…</p>
          <ul>
            <li>Develop new software with a secure-by-default mindset</li>
            <li>Perform vulnerability assessments on your company's network and/or source code</li>
            <li>Coordinate with open source projects to make the Internet more secure            </li>
            <li>Assist with data breaches and incident response            </li>
            <li>Provide application hardening and security compliance consulting
            </li>
          </ul>
      
          <p>…and offer <a href="#">many other related services</a>. Our specialty is cryptographically secure <a href="#">PHP development</a>.</p>
      
      
          
          
          </div>
        </section>
      
      
      </div>
      
      
      
      <section id="latest-blog">
      <div class="container">
      <hr id="">
      <h2 class="lb">Latest Blog Post</h2>
      <hr id="">
      
      <div class="col-md-12">
      <h5>Azio PRISM USB Keyboard</h5>
      
      <img src="{% static 'repo/images/3.jpg' %}" alt="" class="img-fluid service-imgs ">
      
      <br/>
      <p>April  3, 2020 by Odong</p>
      <p>Posted In: <span class="badge badge-info">Technology</span></p>
      
      
      <div class="share-button">
      <span><i class="fa fa-share-alt"></i> Share</span>
      <a href="www.facebook.com/repo"><i class="fa fa-facebook"></i></a>
      <a href="www.github.com/repo"><i class="fa fa-github"></i></a>
      <a href="www.instagram.com/repo"><i class="fa fa-instagram"></i></a>
      <a href="repo2020@gmail.com"><i class="fa fa-envelope"></i></a>
      </div>
      </div>
      </div>
      
      </section>


    {% endblock %}