
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}

    <br/><br/>
    <div class="contact-us">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5>Get In Touch With Us</h5>
            <p>Our primary email address is info@paragonie.com .<br/>

                For technical inquiries, security issues, or questions about one or more of our free and open source software projects, feel free to send an email to security@paragonie.com.
                
                Our security team has a GnuPG public key available, should you wish to encrypt your message.
                
                Even if your questions are not related to our services, technology, or community involvement, we are still interested in hearing them.
                
                No strings attached. We promise you that simply contacting Paragon Initiative Enterprises directly or through this form will not sign you up for anything. We will never spam you.</p>
        
        <br/>
        <br/>

        <h5>Newsletters</h5>
            <p>Our primary email address is info@paragonie.com .

                For technical inquiries, security issues, or questions about one or more of our free and open source software projects, feel free to send an email to security@paragonie.com.
                
                Our security team has a GnuPG public key available, should you wish to encrypt your message.
                
                Even if your questions are not related to our services, technology, or community involvement, we are still interested in hearing them.
                
                No strings attached. We promise you that simply contacting Paragon Initiative Enterprises directly or through this form will not sign you up for anything. We will never spam you.</p>
        


        
            </div>

            <div class="col-md-6">
                <p><img src="https://www.slidegeeks.com/pics/dgm/l/c/Contact_Us_Ppt_PowerPoint_Presentation_Pictures_Portrait_Slide_1-.jpg"/></p>
            </div>
    </div>
</div>
</div>

    
    
  
    {% endblock %}