
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}


<div class="jumbotron jumbotronmain_audit">
    <div class="container">
      <div class="col-md-6"> 
      <h1 class="display-44">Web Design</h1>
  </div>
  
  <p><span class="btn5"><a href=""><i class="fa fa-github"></i>&nbsp;&nbsp;Get started with Web Design</a></span></p>
    </div>
  </div>
  <div class="container-fluid btm-audit">
  
    Audit & Assurance | Home Accounting Events & Transactions | Audit Innovation
  </div>
  
  
<br/>

  <div class="content">
    <section>
      <div class="container">
        <hr id="">
        <h2>What Repo can do for you?</h2>
        <hr id="">
  
  
        <p>Our company employs industry-leading experts on <a href="/web-application-security ">web application security</a> and <a href="#">applied cryptography</a>. We…</p>
      <ul>
        <li>Develop new software with a secure-by-default mindset</li>
        <li>Perform vulnerability assessments on your company's network and/or source code</li>
        <li>Coordinate with open source projects to make the Internet more secure            </li>
        <li>Assist with data breaches and incident response            </li>
        <li>Provide application hardening and security compliance consulting
        </li>
      </ul>
  
      <p>…and offer <a href="#">many other related services</a>. Our specialty is cryptographically secure <a href="#">PHP development</a>.</p>
  
  
      
      
      </div>
    </section>
  
  
  </div>
  
  
  
    {% endblock %}